@mixin vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin quote {
    blockquote::before {
        content: open-quote;
    }

    blockquote::after {
        content: close-quote;
    }

    blockquote {
        @include main-text;
        quotes: "“" "”" "‘" "’";
        letter-spacing: 2px;
        font-weight: 400;
    }
}