// Main Styles
$header-height: 100vh;

// Color palette
$stripe_bg_color: #e63946;
$header-bg-color: #1D3557;
$header-text-color: #F1FAEE;
$content-bg-color: #F1FAEE;
$menu-item-hover-color: black;
$separator-bg-color-primary: #457B9D;
$separator-bg-color-secondary: #A8DADC;
$lead-text-color: #424242;
$lead-text-hover-color: #535353;
$note-color: #EAE94E;
$note-hover-color: #D9D83D;

$animation-cubic: cubic-bezier(0.240, 0.465, 0.450, 0.950) both;