@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Quicksand:wght@300;400&family=Rokkitt:wght@100;400&family=Russo+One&display=swap');

@mixin header-text {
    font-family: 'Russo One', sans-serif;
    color: $header-text-color;
}

@mixin content-text {
    font-family: 'Quicksand', sans-serif;
}

@mixin main-text {
    font-family: 'Rokkitt', serif;
    color: $header-text-color;
}

@mixin medieval-text {
    font-family: 'MedievalSharp', cursive;
}