.stripe-item {
    @extend .flex-item;
    background-color: $stripe_bg_color;
}

.content-item {
    @extend .flex-item;
    @include main-text;
    color: $lead-text-color;
    justify-content: space-around;
    text-align: justify;
    background-color: $content_bg_color;
    font-size: 1.3em;
}

.content-area {
    text-transform: uppercase;
    margin: {
        left: 20%;
        right: 20%;
        top: 3%;
        bottom: 3%;
    }

    h1 {
        text-align: center;
    }
}

.first-letter {
    @include medieval-text;
    color: $stripe_bg_color;
    font-weight: bolder;
    font-size: 2em;
    letter-spacing: 5px;
}

.content-container {
    @extend .flex-container;
    @include main-text;
    color: $lead-text-color;
    background-color: $content-bg-color;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
}

.content-box {
    margin: {
        left: 20%;
        right: 20%;
    }
}

.content-flip-cards-box {
    margin: {
        left: 5%;
        right: 5%;
    }
}

.about-item-profile {
    flex: 50%;
}

.about-item-tabs {
    flex: 50%;
}

@media only screen and (max-width: 1350px) {
    .about-item-profile {
        flex: 30%;
    }

    .about-item-tabs {
        flex: 70%;
    }

    .content-box {
        margin: {
            left: 10%;
            right: 10%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .about-item-profile {
        flex: 100%;
    }

    .about-item-tabs {
        flex: 100%;
    }

    .content-box {
        margin: {
            left: 1%;
            right: 1%;
        }
    }
}