.skills-container {
    padding: 5% 5% 5% 5%;
    user-select: none;
}

.skill-bar-container {
    @extend .flex-container;
    margin-bottom: 5%;
}

.skill-bar-wrapper {
    border-radius: 10px;
    width: 100%;
    background-color: $separator-bg-color-secondary;
}

.skill-bar {
    @include vertical-align;
    border-radius: 10px;
    height: 20px;
    background-color: $stripe_bg_color;
    color: $content-bg-color;
}

.skill-bar-box {
    flex: 75%;
}

.skill-bar-description {
    @include vertical-align;
    @include content-text;
    color: $lead-text-color;
    flex: 25%;
}